.header {
  width: 100%;
  height: 80px;
  position: relative;
  top: 0px;
  left: 0px;
  background: #80b6ed;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  padding-top: 30px;
}

.container {
  text-align: center;
}