.prediction-component {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

.options {
    text-align: center;
    margin: 10px 0 10px 0;
}

.select {
    width: 200px;
}

.timePicker {
    width: 100px;
}

.error {
    color: red;
    margin: 10px 0 10px 0;
}

.actions {
    text-align: right;
}

.prediction {
    text-align: center;
    color: green;
}